/* controls.css */

.appWrapper {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/* Media query for small devices */
@media only screen and (max-width: 768px) {
    .contentWrapper {
        padding: 1.5rem; /* Apply padding for small devices */
    }
}

.emptyText {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black-2);
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--gray-2);
    width: max-content;
    height: auto;
}
